<section class='single-friend'>

    <div class='single-friend-details'>
        <h3>{{friend.name}}</h3>
        <p> Birthday{{friend.birthday}}</p>
        <p> Significant Other{{friend.significant_others}}</p>
        <p> Phone{{friend.phone}}</p>
        <p> Email{{friend.email}}</p>
        <p> Address{{friend.address}}</p>

        {{!-- <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p> --}}
    </div>
</section>