<link
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css'
/>

<div class='row'>
    <div
        class='col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center'
    >
        <div class='edit-friend'>
            <h2 class='page-title'>Edit Friend</h2>
            <form action='/target' class='dropzone'></form>
            <form class='edit-friend-form' data-friend-id={{friend_id}}>

                <div class='form-group'>
                    <label for='example'>Name</label>
                    <input
                        type='text'
                        class='form-control'
                        id='name_input'
                        aria-describedby='emailHelp'
                        placeholder='First Name'
                        value='{{name}}'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Email address</label>
                    <input
                        type='email'
                        class='form-control'
                        id='email_input'
                        aria-describedby='emailHelp'
                        placeholder='Enter email'
                        value='{{friend.email}}'
                    />
                </div>
                {{! pets question? }}
                <div class='form-group'>
                    <label for='example'>Pets??</label>
                    <input
                        type='text'
                        class='form-control'
                        id='pets_input'
                        aria-describedby='emailHelp'
                        placeholder='Enter pets'
                        {{friend.pets}}
                    />
                </div>
                {{! what format }}
                <div class='form-group'>
                    <label for='example'>Birthday</label>
                    <input
                        type='integer'
                        class='form-control'
                        id='birthday_input'
                        placeholder='Birthday'
                        value='{{friend.birthday}}'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Career</label>
                    <input
                        type='integer'
                        class='form-control'
                        id='career_input'
                        placeholder='Career'
                        value='{{friend.career}}'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Additional comments</label>
                    <textarea
                        class='form-control'
                        id='comments_input'
                        rows='3'
                        value='{{friend.comments}}'
                    ></textarea>
                </div>
                <div class='form-group'>

                    <button
                        id='submit-button'
                        class='btn btn-outline-secondary'
                        type='button'
                    >Edit a family member</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script
    src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js'
></script>