<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css"
/>

<div class="row">
  <div
    class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center"
  >
    <div class="edit-friend">
      <h2 class="page-title">Edit Friend</h2>
      <div class="thumb">
        {{#if friend.photo}}
          <img src="{{friend.photo}}" height="200" width="200" />
        {{else}}
          <img src="/images/defaultPhoto.jpg" height="200" width="200" />
        {{/if}}
      </div>

      <form action="/api/upload" class="dropzone"></form>
      <form class="edit-friend-form" data-friend-id={{friend.friend_id}}>

        <div class="form-group">
          <label for="example">Name</label>
          <input
            type="text"
            class="form-control"
            id="name_input"
            aria-describedby="emailHelp"
            placeholder="Name"
            value="{{friend.name}}"
          />
        </div>
        <div class="form-group">
          <label for="example">Birthday</label>
          <input
            type="text"
            class="form-control"
            id="birthday_input"
            placeholder="Birthday"
            value="{{friend.birthday}}"
          />
        </div>
        <div class="form-group">
          <label for="example">Significant Other</label>
          <input
            type="text"
            class="form-control"
            id="significant_other_input"
            placeholder="Significant Other"
            value="{{friend.significant_other}}"
          />
        </div>
        <div class="form-group">
          <label for="example">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone_input"
            placeholder="Birthday"
            value="{{friend.phone}}"
          />
        </div>
        <div class="form-group">
          <label for="example">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email_input"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            value="{{friend.email}}"
          />
        </div>
        <div class="form-group">
          <label for="example">Address</label>
          <input
            type="text"
            class="form-control"
            id="address_input"
            placeholder="Address"
            value="{{friend.address}}"
          />
        </div>
        <div class="form-group">

          <button
            id="submit-button"
            class="btn btn-outline-secondary"
            type="submit"
          >Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
></script>
<script src="/edit-friend.js"></script>