<body id="body">
  {{! <link rel="stylesheet" type="text/css" href="/public/css/reset.css" /> }}
  <div class="content">
    <h1>My Friends</h1>

    <ul class="team">
      {{#each friends as |friend|}}
        <hr />
        <li class="member co-funder">
          <div class="thumb">
            {{#if friend.photo}}
              <img src="{{friend.photo}}" height="200" width="200" />
            {{else}}
              <img src="/images/defaultPhoto.jpg" height="200" width="200" />
            {{/if}}
          </div>
          <div class="description">
            <a href="/friend/{{friend.id}}"><h3>{{friend.name}}</h3></a>
            <p>Birthday: {{friend.birthday}}</p>
            <p>Significant Other: {{friend.significant_other}}</p>
            <p>Phone: {{friend.phone}}</p>
            <a href="/friend/{{friend.id}}/edit"><button
                class="btn"
              >edit</button></a>
            <button
              class="delete-button btn"
              data-friend-id="{{friend.id}}"
            >delete</button>
          </div>
        </li>
      {{/each}}
    </ul>
    <div class="form-group">
      <a href="/friend"><button class="btn btn-primary">Add Friend</button></a>
    </div>
  </div>

</body>
<script src="/logout.js"></script>
<script src="/delete-friend.js"></script>