<body id="card-body">
    <article>
        <figure><img
                src="{{friend.photo}}"
                alt="photo of {{friend.name}}"
                height="200"
                width="200">
            
        </figure>
        <h2>{{friend.name}}</h2>
            <p>{{friend.birthday}}</p>
            <p>Address</p>
            <p>Pets</p>
    </article>

    <h3>Family Members</h3>
    <ul>
        {{#each friend.familyMembers as |familyMember|}}
        <li>
            <p>Name: {{familyMember.name}}</p>
        </li>
        {{/each}}
    </ul>
</body>

</html>