<body id="body">
  {{! <link rel="stylesheet" type="text/css" href="/public/css/reset.css" /> }}
  <div class="content">
    <h1>My Friends</h1>

    <ul class="team">
      {{#each friends as |friend|}}
        <li class="member co-funder">
          <div class="thumb">
            <img src="{{friend.photo}}" height="200" width="200" />
          </div>
          <div class="description">
            <a href="/friend/{{friend.id}}"><h3>{{friend.name}}</h3></a>
            <p>Birthday: {{friend.birthday}}</p>
            <p>Significant Other: {{friend.significant_other}}</p>
            <p>Phone: {{friend.phone}}</p>
            <a href="/friend/{{friend.id}}/edit">edit</a>
            <a
              href="#"
              class="delete-button"
              data-friend-id="{{friend.id}}"
            >delete</a>
          </div>
        </li>
      {{/each}}
    </ul>
    <div class="form-group">
      <a href="/friend"><button class="btn btn-primary">Add Friend</button></a>
    </div>
  </div>

</body>
<script src="logout.js"></script>
<script src="delete-friend.js"></script>