{{!-- <div class='row'>
    <div
        class='col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center'
    >
        <section class='single-friend'>

            <div class='single-friend-details'>
                <h3>{{friend.name}}</h3>
                <p> Birthday{{friend.birthday}}</p>
                <p> Significant Other{{friend.significant_others}}</p>
                <p> Phone{{friend.phone}}</p>
                <p> Email{{friend.email}}</p>
                <p> Address{{friend.address}}</p>
            </div>
        </section>
    </div>
</div> --}}

<body id="card-body">




    <article>
        <figure><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREJPHyIrQat98qZgIrMqSYLLkOYHJIC0TLFw&usqp=CAU"
                alt="">
            
        </figure>
        <h2>{{friend.name}}</h2>
            <p>{{friend.birthday}}</p>
            <p>Address</p>
            <p>Pets</p>
    </article>

    <h1>:hover</h1>
</body>

</html>